main {
  text-decoration: none;
  line-height: 1.5;
  text-align: center;
  padding-top: 3vh;
  padding-bottom: 5vh;
  padding-left: 5vh;
  padding-right: 5vh;
  font-size: large;
}

h1 {
  margin-top: 3vh;
}


.card {
  margin: 20px;
  display: inline-block;
  justify-content: space-between;
}

.card-title {
  font-size: x-large;
  padding: 1vh;
}

.card-subtitle,
.card.text {
  font-weight: 600;
  font-size: medium;
  color: black;
  
}

.linkText {
 padding-top: 3vh;
}

button {
  margin-top: 3vh;
}

.recepyCard {
  border-radius: 2px;
  box-shadow: 0 0 5px #aeaeae;
  height: 250px;
}

.singleCard {
  border-radius: 2px;
  box-shadow: 0 0 5px #aeaeae;
  height: 300px;
}

.Footer {
  position: absolute;
  bottom: 0;
  margin-top: 100px;
}



